.try-again,
.feedback-wrapper,
.start-mic,
.question-hidden  {
  display: none;
}
.question-wrapper div img {
  margin: 0 auto;
  display: block;
}
.mic-state {
  width: 100%;
  height: 10px;
}
.mic-state.off {
  background-color: red;
}
.mic-state.on {
  background-color: green;
}